*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E8E8E8;
}

header{
    background-color: #1E2952;
}

.logo{
    font-size: 50px;
    background-image: linear-gradient( to right,#00FFE1,#009980);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.botao{ 
    color: #00FFE1;
    font-size: 20px;
}

.texto{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-weight:bolder;
}

.imagem1{
    width: 50%;
}

section{
    background-color: #1E2952;
    margin-top: 30px;
    height: 150px;
}

.text-center{
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    font-style: italic;
}

.card-custom {
  border: none;
  border-radius: 30px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-grande {
  font-size: 3em;
  margin-bottom: 0.5rem;
  color: #1E2952;
}

.bg-neon-blue {
  background-color: #6EF3EA; 
}

.card-text {
  font-weight: 30px;
  color: black;
  text-align: center;
  padding: 20px;
}

.faq{
margin-top: 30px;
}

footer{
    background-color: #1E2952;
    color: #ffffff;
    margin-top: 30px;
    text-align: center;
}